:root {
    --vp-c-brand-1: #f69e08;
    --vp-c-brand-2: #c78108;

    --vp-button-brand-bg: #ee9908;
}

.dark {
    --vp-button-brand-bg: #be7b08;;
}

.vp-doc p,
.vp-doc summary {
  text-align: justify;
  text-justify: inter-word;
}